.home-page {
    .text-zone {
        position:absolute;
        left:10%;
        top: 24%;
        transform:translateY(-50);
        width: 35%;
        vertical-align:middle;
        display:table-cell;
        max-height: 90%;
    }
  
    h1{
        font-size: 56px;
        font-family:'Coolvetica';
        font-weight: 400;
        color:#ffd700;
        margin-top:0;
        position:relative;
        margin-bottom: 48px;
        left:18px;
    
    &::before{
        content: '<h1>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 18px;
        position:absolute;
        margin-top: -20px; 
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
    }
    &::after{
        content: '</h1>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 18px;
        line-height:18px;
        position:absolute;
        left:-25px;
        bottom:-30px;
        margin-left: 10px;
        opacity: 0.6;
    }
    .text-animate-hover{
        &:hover{
            color:#fff;
        }
    }
  
      img {
        margin-left: 20px;
        opacity: 0;
        width: 32px;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
      }
    }
  
    h2 {
      color: #8d8d8d;
      margin-top: 20px;
      font-weight: 400;
      font-size: 11px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }
  
    .flat-button,.flat-dbutton {
      color: #ffd700;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #ffd700;
      margin-top: 25px;
      float: left;
      animation: fadeInAnimation 1s 1.8s backwards;
      white-space: nowrap;
  
      &:hover {
        background: #ffd700;
        color: #333;
      }
    }
    .flat-dbutton{
        margin-left: 5px;
    }
}
@media screen and (max-width: 1200px){
    .tags,
    .home-page h1::before ,
    .home-page h1::after{
        display: none;
    }
    .home-page{
        .text-zone{
            position: initial;
            width: 100%;
            transform: none;
            padding: 10px;
            box-sizing: border-box;
        }
        .flat-button,.flat-dbutton{
         font-size: 11px;
         padding: 10px;
        }
        .logo-container{
            position: relative;
            width: 150px;
            height: auto;
            top: 100px;
            right: 10%;
            box-sizing: border-box;
            margin: auto;
         
        }
    }
}