.contact-form{
    width: 100%;
    margin-top: 20px;
    ul{
        padding: 0;
        margin: 0;
        li{
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }
        li.half{
            width: 49%;
            float: left;
            margin-left: 2%;
            clear: none;
            &:first-child{
                margin-left: 0;
            }
        }
    }
    input[type='text'],
    input[type='email']{
        width:100%;
        border:0;
        background: #115173;
        height: 58px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px ;
    }
textarea{
    width: 100%;
    border:0;
    background: #115173;
    height: 43px;
    font-size: 16px;
    color: #fff;
    padding: 28px;
    min-height: 158px;
    box-sizing:border-box;
}
.flat-button{
    color: #ffd700;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border:1px solid #ffd700;
    float: right;
    border-radius: 4px;
}
}
.info-map{
    position:absolute;
    background-color: #000;
    top: 50px;
    right: 28%;
    z-index: 1;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation:fadeIn 1s 1.5s;
    animation-fill-mode: forwards;
span{
    font-size: 16px;
    display: block;
    padding-top: 20px;
    color: #ffd700;
}
}
.map-wrap {
    background: rgba(0,0,0,.5);
    float: right;
    margin: 0;
    width: 50%;
    height: 600px;
}
@media screen and (min-width: 1200px){
.contact-list{
display: none;
}
}
.leaflet-container{
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}
@media screen and (max-width: 1200px){
    
    .map-wrap{
        float: none;
        width: 100%;
        height: 400px;
        margin: 0;
    }
    .info-map{
        display: none;
    }
    .contact-list{
       display: contents;
    ul{
        position: inherit;
        width:90%;
        display: flex;
        padding: 20px;
        list-style: none;
        justify-content: center;
        margin: 0;
     
     li{
        a{
            
            display: inline-flex;
            padding: 10px  20px;
            display: block;
            font-size: 25px;
            line-height: 16px;
        }
            &:hover svg{
                color: #ffd700;
            }
        }
    }
}
}
.copy{
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color: #ffe600;
    padding: 5px;
}